@font-face {
  font-family: 'Barlow-Bold';
  src: url('assets/fonts/Barlow-Bold/Barlow-Bold.woff2') format('woff2'),
    url('assets/fonts/Barlow-Bold/Barlow-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'BarlowCondensed-Bold';
  src: url('assets/fonts/BarlowCondensed-Bold/BarlowCondensed-Bold.woff2') format('woff2'),
    url('assets/fonts/BarlowCondensed-Bold/BarlowCondensed-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'BarlowCondensed-Regular';
  src: url('assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff2') format('woff2'),
    url('assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
    font-family: 'PTSerif-Bold';
    src: url('assets/fonts/PTSerif-Bold/PTSerif-Bold.woff2') format('woff2'),
        url('assets/fonts/PTSerif-Bold/PTSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PTSerif-BoldItalic';
    src: url('assets/fonts/PTSerif-BoldItalic/PTSerif-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/PTSerif-BoldItalic/PTSerif-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSans-Bold';
    src: url('assets/fonts/SupriaSans-Bold/SupriaSans-Bold.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-Bold/SupriaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSans-BoldItalic';
    src: url('assets/fonts/SupriaSans-BoldItalic/SupriaSans-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-BoldItalic/SupriaSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSans-Heavy';
    src: url('assets/fonts/SupriaSans-Heavy/SupriaSans-Heavy.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-Heavy/SupriaSans-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSans-Light';
    src: url('assets/fonts/SupriaSans-Light/SupriaSans-Light.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-Light/SupriaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSans-Regular';
    src: url('assets/fonts/SupriaSans-Regular/SupriaSans-Regular.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-Regular/SupriaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSans-RegularItalic';
    src: url('assets/fonts/SupriaSans-RegularItalic/SupriaSans-RegularItalic.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-RegularItalic/SupriaSans-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff2') format('woff2'),
        url('assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Graphik-Medium';
    src: url('assets/fonts/Graphik-Medium/Graphik-Medium.woff2') format('woff2'),
        url('assets/fonts/Graphik-Medium/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }




*,*:focus,.btn,.btn:focus {
  outline: 0!important;
  text-decoration: none
}
a,button,input,.fl-transition {
  outline: 0;
  border: 0;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
a,a:hover,a:focus,button:hover,button:focus {
  text-decoration: none;
  outline: 0;
}
body {
  background-color: #fff;
  color: #191919;
  font-size: 24px;
  line-height: 30px;
  font-family: 'SupriaSans-Regular';
}
img {
  max-width: 100%;
  height: auto;
}
.ulc {
  margin: 0;
  padding: 0;
  list-style: none;
}
.overlay-link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.fl-page-bdy-controller{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.container{
  max-width: 1370px;
  width: 100%;
}
.fl-text-module{

}
.hide-md {
  display: block!important
}
.show-md {
  display: none!important
}
.hide-sm {
  display: block!important
}
.show-sm {
  display: none!important
}
.hide-xs {
  display: block!important
}
.show-xs {
  display: none!important
}
p { line-height: 1.2; margin: 0; margin-bottom: 30px; }
a { word-wrap: break-word } 
strong,b { font-family: 'SupriaSans-Bold'; }
em,i{
  font-family: 'SupriaSans-RegularItalic';
}
u{
  text-decoration: underline;
}
span.fl-txt-line-bg{
    font-family: 'SupriaSans-Bold';
    display: inline-block;
    vertical-align: baseline;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% 100% !important;
    margin-right: -8px;
    margin-left: -8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 3px;
    color: #000;
}
ul.reset-list,
.reset-slect ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.reset-list li,
.reset-slect ul li{
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 0;
}
.reset-list li:before,
.reset-slect ul li:before{
  content: none!important;
}
.color-blue{
  color: #008abe;
}
.inline-bg{
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover!important;
}
.plr-30 {
  padding-left: 30px!important;
  padding-right: 30px!important
}
.plr-20 {
  padding-left: 20px!important;
  padding-right: 20px!important
}
.plr-10 {
  padding-left: 10px!important;
  padding-right: 10px!important
}
.plr-15 {
  padding-left: 15px!important;
  padding-right: 15px!important
}
.plr-5{
  padding-left: 5px!important;
  padding-right: 5px!important
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 54px;
}
h3 {
  font-size: 47px;
}
h4 {
  font-size: 44px;
}
h5 {
  font-size: 38px;
}
h6 {
  font-size: 30px;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  line-height: 1.2;
  font-weight: normal;
  font-family: 'PTSerif-Bold';
  margin-bottom: 20px;
} 

@media(max-width: 1599px){
  .fl-page-bdy-controller{
    max-width: 1200px;
  }
  .container{
    max-width: 1170px;
  }
  body{
    font-size: 22px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 37px;
  }
  h4 {
    font-size: 34px;
  }
  h5 {
    font-size: 28px;
  }
  h6 {
    font-size: 20px;
  }
}


@media(max-width: 1199px){
    .hide-md{
      display: none!important;
    }
    .show-md{
      display: block!important;
    }
    h1 {
      font-size: 57px;
    }
    h2 {
      font-size: 52px;
    }
    h3 {
      font-size: 45px;
    }
    h4 {
      font-size: 42px;
    }
    h5 {
      font-size: 36px;
    }
    h6 {
      font-size: 28px;
    }
}
@media(max-width: 991px){
    .hide-sm{
        display: none!important;
    }
    .show-sm{
        display: block!important;
    }
    h1 {
      font-size: 52px;
    }
    h2 {
      font-size: 48px;
    }
    h3 {
      font-size: 40px;
    }
    h4 {
      font-size: 37px;
    }
    h5 {
      font-size: 33px;
    }
    h6 {
      font-size: 26px;
    }
    p br,
    br{
        display: none!important;
    }
    .image-center-sm{
      text-align: center;
      padding: 0;
      margin: 0;
      padding-bottom: 30px;
    }
}


@media(max-width: 767px){
    .hide-xs{
        display: none!important;
    }
    .show-xs{
        display: block!important;
    }
    body {
        font-size: 20px;
    }
    p{
       margin-bottom: 20px;
    }
    h1 {
      font-size: 46px;
    }
    h2 {
      font-size: 42px;
    }
    h3 {
      font-size: 36px;
    }
    h4 {
      font-size: 33px;
    }
    h5 {
      font-size: 30px;
    }
    h6 {
      font-size: 24px;
    }

}
