.fbss-sec-1{
	padding-top: 30px;
}
.fbss-sec-1-enty-hdr{
	text-align: center;
}
.fbss-sec-1-enty-hdr h2{
	margin-bottom: 45px;
}
.fbss-sec-1-enty-hdr h2 span{
	color: #10b3f0;
}


.fbss-sec-1-grds-item ul{
	margin-left: -10px;
	margin-right: -10px;
}
.fbss-sec-1-grds-item ul li{
	float: left;
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}
.fbss-sec-1-grds-item ul li:nth-child(2n+1){
	clear: left;
}


.fbss-sec-1-grd-item-img{
	min-height: 280px;
}