@font-face {
  font-family: 'Barlow-Bold';
  src: url('assets/fonts/Barlow-Bold/Barlow-Bold.woff2') format('woff2'),
    url('assets/fonts/Barlow-Bold/Barlow-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'BarlowCondensed-Bold';
  src: url('assets/fonts/BarlowCondensed-Bold/BarlowCondensed-Bold.woff2') format('woff2'),
    url('assets/fonts/BarlowCondensed-Bold/BarlowCondensed-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'BarlowCondensed-Regular';
  src: url('assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff2') format('woff2'),
    url('assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
    font-family: 'PTSerif-Bold';
    src: url('assets/fonts/PTSerif-Bold/PTSerif-Bold.woff2') format('woff2'),
        url('assets/fonts/PTSerif-Bold/PTSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PTSerif-BoldItalic';
    src: url('assets/fonts/PTSerif-BoldItalic/PTSerif-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/PTSerif-BoldItalic/PTSerif-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSans-Bold';
    src: url('assets/fonts/SupriaSans-Bold/SupriaSans-Bold.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-Bold/SupriaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSans-BoldItalic';
    src: url('assets/fonts/SupriaSans-BoldItalic/SupriaSans-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-BoldItalic/SupriaSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSans-Heavy';
    src: url('assets/fonts/SupriaSans-Heavy/SupriaSans-Heavy.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-Heavy/SupriaSans-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSans-Light';
    src: url('assets/fonts/SupriaSans-Light/SupriaSans-Light.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-Light/SupriaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSans-Regular';
    src: url('assets/fonts/SupriaSans-Regular/SupriaSans-Regular.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-Regular/SupriaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSans-RegularItalic';
    src: url('assets/fonts/SupriaSans-RegularItalic/SupriaSans-RegularItalic.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-RegularItalic/SupriaSans-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff2') format('woff2'),
        url('assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Graphik-Medium';
    src: url('assets/fonts/Graphik-Medium/Graphik-Medium.woff2') format('woff2'),
        url('assets/fonts/Graphik-Medium/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('assets/fonts/MyriadPro-Regular/MyriadPro-Regular.woff2') format('woff2'),
    url('assets/fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Barlow-Medium';
    src: url('assets/fonts/Barlow-Medium/Barlow-Medium.woff2') format('woff2'),
    url('assets/fonts/Barlow-Medium/Barlow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}




*,*:focus,.btn,.btn:focus {
  outline: 0!important;
  text-decoration: none
}
a,button,input,.fl-transition {
  outline: 0;
  border: 0;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
a,a:hover,a:focus,button:hover,button:focus {
  text-decoration: none;
  outline: 0;
}
body {
  background-color: #fff;
  color: #191919;
  font-size: 24px;
  line-height: 30px;
  font-family: 'SupriaSans-Regular';
}
img {
  max-width: 100%;
  height: auto;
}
.ulc {
  margin: 0;
  padding: 0;
  list-style: none;
}
.overlay-link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.fl-page-bdy-controller{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3px 5px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 3px 5px 2px rgba(0,0,0,0.3);
  box-shadow: 0 3px 5px 2px rgba(0,0,0,0.3);
  background: #fff;
  border-radius: 10px;
  position: relative;
}
.container{
  max-width: 1170px;
  width: 100%;
}
.fl-text-module{

}
.hide-md {
  display: block!important
}
.show-md {
  display: none!important
}
.hide-sm {
  display: block!important
}
.show-sm {
  display: none!important
}
.hide-xs {
  display: block!important
}
.show-xs {
  display: none!important
}
p { line-height: 1.2; margin: 0; margin-bottom: 25px; }
a { word-wrap: break-word } 
strong,b { font-weight: normal; font-family: 'SupriaSans-Bold'; }
em,i{
  font-weight: normal; font-family: 'SupriaSans-RegularItalic';
}
u{
  text-decoration: underline;
}
.image-center-sm{
  height: 100%;
  display: flex;
  align-items: center;
}
.row{
  display: flex;
}
.pull-right {
    order: 2;
}
.pull-left {
    order: 1;
}
span.fl-txt-line-bg{
    font-family: 'SupriaSans-Bold';
    display: inline-block;
    vertical-align: baseline;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% 100% !important;
    margin-right: -8px;
    margin-left: -8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 3px;
    color: #000;
}
ul.reset-list,
.reset-slect ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.reset-list li,
.reset-slect ul li{
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 0;
}
.reset-list li:before,
.reset-slect ul li:before{
  content: none!important;
}
.color-blue{
  color: #008abe;
  color: #0083c1;
}
.color-white{
  color: #ffffff;
}
.inline-bg{
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover!important;
}
.plr-30 {
  padding-left: 30px!important;
  padding-right: 30px!important
}
.plr-20 {
  padding-left: 20px!important;
  padding-right: 20px!important
}
.plr-10 {
  padding-left: 10px!important;
  padding-right: 10px!important
}
.plr-15 {
  padding-left: 15px!important;
  padding-right: 15px!important
}
.plr-5{
  padding-left: 5px!important;
  padding-right: 5px!important
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 54px;
}
h3 {
  font-size: 47px;
}
h4 {
  font-size: 44px;
}
h5 {
  font-size: 38px;
}
h6 {
  font-size: 30px;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  line-height: 1.2;
  font-weight: normal;
  font-family: 'PTSerif-Bold';
  margin-bottom: 20px;
} 


.header-innr{
  height: 90px;
  display: flex;
  align-items: center;
    margin-left: -25px;
    margin-right: -25px;
}

.hdr-rgt{
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 24px;
    color: #4e4e4e;
}
.hdr-logo{
    display: inline-block;
}
.hdr-tel a{
  color: #4e4e4e;
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.hdr-tel a:hover{
    color: #9ea1a5;
}
.hdr-time{
  display: flex;
  align-items: center;
}
.hdr-time i,
.hdr-tel a i{
  margin-right: 13px;
}
.hdr-rgt{
  font-family: 'Graphik-Medium';
  font-size: 20px;
  line-height: 1;
}

.bnr-sky-bg{
  height: 350px;
  background: #10b3f0;
}

.bnr-sec-cntlr{
  margin-top: -295px;
  background: #f2fafd;
  border-radius: 10px 10px 0 0;
  position: relative;
}
.bnr-des{
  padding: 55px 0 40px;
  max-width: 690px;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
}
.bnr-des h1{
  font-family: 'SupriaSans-Heavy';
  font-size: 52px;
}
.bnr-des h1 br{
    display: block!important;
}
.bnr-des h3{
  font-family: 'SupriaSans-Heavy';
  color: #0083c1;
    font-size: 36px;
}

.bnr-des h2{
   font-family: 'SupriaSans-BoldItalic';
     font-size: 37px;
     margin-bottom: 0;
}

.bnr-img{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  border-radius: 10px 10px 0 0;
}
.bnr-img img{
  display: none;
}



.fl-pkg-section-2{
    position: relative;
    z-index: 2;
    padding-top: 30px;
}
.fl-pkg-section-1 .pkg-area-con-bg{
    padding-top: 0;
}

.fl-pkg-section-1{
    padding-top: 45px;
}

.fl-pkg-sec-ftr-des{
    padding-top: 65px;
    text-align: left;
    padding-bottom: 24px;
}
.pkg-area-con-bg{
    padding: 45px 0 50px;
    background-size: cover!important;
    background-position: center center;
}
.fl-pkg-sec-bg-hdr{
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center bottom!important;
    border-radius: 8px 8px 0 0;
    margin-bottom: 85px;
    padding: 20px 20px 25px;
}
.fl-pkg-sec-bg-hdr h2{
    font-family: 'Merriweather-Black';
    margin-top: 0;
    color: #000;
    text-align: center;   
    margin-bottom: 0;
}

.fl-pkg-grd-controller > ul{
    margin-left: -13px;
    margin-right: -13px;
}
.fl-pkg-grd-controller > ul > li{
    float: left;
    width: 33.333%;
    padding: 0 13px;
}

.fl-pkg-grd-col-btm-bdr{
    background: #096f94;
    border-radius: 8px;
    padding-bottom: 4px;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    -moz-box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
}
.fl-pkg-grd-col-bdr-solid{
    position: relative;
}
.fl-pkg-grd-col-bdr-solid:before,
.fl-pkg-grd-col-bdr-solid:after{
    content: "";
    background: #bdd4dc;
    position: absolute;
    top: 4px;
    bottom: 2px;
    width: 1px;
    z-index: 1;
}
.order1 .fl-pkg-grd-col-bdr-solid:before,
.order1 .fl-pkg-grd-col-bdr-solid:after{
    background: #ded4d4;
}
.order2 .fl-pkg-grd-col-bdr-solid:before,
.order2 .fl-pkg-grd-col-bdr-solid:after{
    background: #c6dbd7;
    top: 10px;
}
.fl-pkg-grd-col-bdr-solid:before{
    left: -1px;
}
.fl-pkg-grd-col-bdr-solid:after{
    right: 0;
}

.fl-pkg-grd-col{
    position: relative;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-btm-bdr{
    margin-top: -45px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-btm-bdr{
    background: #d50001;
}
.fl-pkg-grd-controller > ul > li:nth-child(3) .fl-pkg-grd-col-btm-bdr{
    background: #0f84b3;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col{
    padding-bottom: 10px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-price {
    margin-bottom: 6px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-fea-img {
    padding-bottom: 33px;
    padding-top: 30px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-ftr{
    padding-top: 15px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-price strong{
    font-size: 95px;
    line-height: 78px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-price:after{
    width: 9px;
    height: 9px;
    top: 37%;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-price sup {
    font-size: 55px;
    right: 0px;
    top: -10px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-price sub{
    bottom: 17px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-save-price strong{
    padding-top: 9px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-creditcards {
    padding-top: 14px;
}
.fl-pkg-grd-controller > ul > li:nth-child(3) .fl-add-to-cart-btn-img {
    margin-bottom: 16px;
}
.fl-pkg-grd-col-hdr{
    border-radius: 5px 5px 0 0;
}
.fl-pkg-grd-col-hdr span,.fl-pkg-grd-col-hdr strong{
    display: block;
}
.fl-pkg-grd-col-hdr{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-repeat: repeat-x!important;
    background-size: cover!important;
}
.fl-pkg-grd-col-hdr span{
    font-size: 32px;
    line-height: 36px;
    font-family: 'BarlowCondensed-Bold';
    padding: 15px 0 19px;
    background-repeat: repeat-x!important;
    border-radius: 5px 5px 0 0;
    text-shadow: 0px 2px #019bd4;
    background-position: center bottom!important;
}
.order1 .fl-pkg-grd-col-hdr span{
    text-shadow: 0px 2px #b82121;
    padding-top: 18px;
    padding-bottom: 21px;
}
.order2 .fl-pkg-grd-col-hdr span b,
.order1 .fl-pkg-grd-col-hdr span b{
    font-size: 25px;
}
.order2 .fl-pkg-grd-col-hdr strong,
.order1 .fl-pkg-grd-col-hdr strong{
    padding-top: 6px;
}
.order3 .fl-pkg-grd-col-hdr span{
    padding-bottom: 19px;
}
.fl-pkg-grd-col-hdr strong{
    padding: 0 0 4px 0;
    font-size: 40px;
    line-height: 45px;
    font-family: 'BarlowCondensed-Bold';
    text-shadow: 0px 2px #595653;
}
.order3 .fl-pkg-grd-col-hdr span{
    text-shadow: 0px 2px #0069a1;
}
.fl-pkg-grd-col-fea-img{
    margin: 0 auto;
    position: relative;
    display: table;
    padding: 30px 15px 30px;
}
.fl-pkg-grd-col-fea-img span img{
    max-height: 80px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col .fl-pkg-grd-col-fea-img span img{
    max-height: 100px;
}

.order3 .fl-pkg-grd-col-fea-img{
    padding-bottom: 40px;
}
.fl-pkg-grd-col-fea-img div{
    display: inline-block;
    vertical-align: baseline;
}
.fl-pkg-grd-col-fea-img div img{
    max-height: 330px;
    width: auto;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-fea-img div img{
    min-height: 370px;
    width: auto;
}
.fl-pkg-grd-col-fea-img span {
    position: absolute;
    right: 22px;
    top: 36px;
}
.order3 .fl-pkg-grd-col-fea-img span {
    right: 22px;
    top: 39px;
}
.order1 .fl-pkg-grd-col-fea-img span {
    top: 58px;
    right: 78px;
}
.fl-pkg-grd-col{
    background: #f7f7f7;
    border: 3px solid #fff;
    border-radius: 8px;
}
.fl-pkg-price{
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: baseline;
    padding: 0 76px 0 28px;
    margin-bottom: 10px;
}
.fl-pkg-price:before {
    content: "$";
    position: absolute;
    left: 3px;
    top: -7px;
    font-size: 42px;
    line-height: 100%;
    font-family: 'Barlow-Bold';
    margin-right: 2px;
}
.fl-pkg-price:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #000;
    border-radius: 100%;
    font-family: 'Barlow-Bold';
    margin-right: 2px;
    right: 65px;
    top: 38%;
    transform: translateY(-38%);
    -ms-transform: translateY(-38%);
    -webkit-transform: translateY(-38%);
}
.fl-pkg-price strong {
    font-size: 68px;
    line-height: 58px;
    font-weight: normal;
    font-family: 'Barlow-Bold';
    display: inline-block;
}
.fl-pkg-price sup {
    position: absolute;
    right: 20px;
    font-size: 40px;
    font-family: 'Barlow-Bold';
    top: -6px;
    line-height: 100%;
}
.fl-pkg-price sub {
    position: absolute;
    right: -5px;
    font-size: 38px;
    bottom: 12px;
    font-family: 'BarlowCondensed-Regular';
}
.fl-creditcards{
    padding-left: 8px;
    padding-top: 5px;
}
.fl-ftr-nav ul li a:hover,.fl-ftr-top-sec ul li a:hover{
    opacity: .7;
}
.fl-pkg-grd-ftr{
    padding-left: 10px;
    padding-right: 10px;
    display: table;
    margin: 0 auto;
    padding-top: 10px;
}
.fl-add-to-cart-btn-img{
    margin-bottom: 20px;
}

.fl-add-to-cart-btn-img a{
    display: inline-block;
    vertical-align: baseline;
}
.fl-pkg-grd-ftr ul li{
    position: relative;
    padding: 3px 0 15px 40px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: 'Barlow-Medium';
}
.fl-pkg-grd-ftr ul li em{
    position: absolute;
    left: 0;
    top: 0;
}

.fl-pkg-save-price strong{
    font-family: 'SourceSansPro-Bold';
    display: block;
    font-weight: normal;
    font-size: 25px;
    color: #fe0000;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}




.fl-footer-wrap{
  background: #0a3f53;
  color: #ffffff;
  text-align: center;
  padding: 225px 0 30px;
    margin-top: -225px;
    padding-bottom: 55px;
}

.fl-footer-inner{
  max-width: 1025px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
    padding-top: 45px;
}

.fl-ftr-nav ul {
    padding-bottom: 16px;
}
.fl-ftr-nav ul li {
    padding: 0 9px;
    position: relative;
    font-size: 18px;
    line-height: 1;
}
.fl-ftr-nav ul li:first-child {
    padding-left: 0;
}
.fl-ftr-nav ul li,
.fl-ftr-nav ul li a {
    display: inline-block;
    vertical-align: baseline;
}
.fl-ftr-nav ul li a:hover{
  opacity: .8;
}
.fl-ftr-nav ul li:not(:last-child):after {
    content: "";
    width: 2px;
    height: 12px;
    position: absolute;
    left: 100%;
    margin-left: 2px;
    background: #e4e9eb;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.fl-ftr-nav ul li a {
    color: #fff;
}
.fl-copyright p{
  font-size: 14px;
  margin-bottom: 26px;
    font-family: 'MyriadPro-Regular';
}
.fl-ftr-des p{
  font-size: 14px;
    font-family: 'SupriaSans-Light';
    margin-bottom: 0;
    line-height: 1.4;
}



.ppr-15{
  padding: 0 15px 0 0;
}
.ppr-5{
  padding: 0 5px 0 0;
}
.fbsn-section1{
  padding-top: 40px;
}
.fbsn-section1-cntlr{

}
.fbsn-section1-cntlr strong {
    font-family: 'PTSerif-BoldItalic';
    font-size: 35px;
}
.fbsn-section1-title{
  font-family: 'PTSerif-BoldItalic';
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 50px;
}

.fbsn-sec1-sub-sec-img-cntlr{
  padding: 8px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(145, 145, 145, 0.45);
  -moz-box-shadow:    2px 4px 10px 0px rgba(145, 145, 145, 0.45);
  box-shadow:         2px 4px 10px 0px rgba(145, 145, 145, 0.45);
  margin-bottom: 45px;
}
.fbsn-sec1-sub-sec-img-cntlr > img{
  display: none;
}
.fbsn-sec1-sub-sec-img1-cntlr{
  margin-right: 8px;
}
.fbsn-sec1-sub-sec-img2-cntlr{
  margin-left: 8px;
}
.fbsn-sec1-sub-sec-img{
  min-height: 300px;
}

.fbsn-sec-sub-sec3-title{
  font-family: 'PTSerif-BoldItalic';
}

.fbsn-sec-sub-sec-2{

}
.fbsn-sec-sub-sec-2 ul li{
  margin-bottom: 33px;
}
.fbsn-sss-item{
  padding: 25px 35px 0 25px;
  background: #f2f6f7;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow:  4px 6px 7px 0px rgba(191, 191, 191, 0.35);
  -moz-box-shadow:    4px 6px 7px 0px rgba(191, 191, 191, 0.35);
  box-shadow:         4px 6px 7px 0px rgba(191, 191, 191, 0.35);
}
.fbsn-sss-item > p:last-child,
.fbsn-sss-item p strong:last-child{
  margin-bottom: 0;
}
.fbsn-sss-item-icon{
  position: absolute;
  top: -27px;
  right: -24px;
  z-index: 4;
  height: 81px;
  width: 81px;
}

.fbsn-section4{
  background: #ebfaff;
  padding-top: 30px;
  position: relative;
  overflow: hidden;
}
.fbsn-sec4-img-cntlr{
  width: 50%;
  position: absolute;
  bottom: 0;
  left: -30px;
}
.fbsn-sec4-img-cntlr .fbsn-sec4-img{
  min-height: 572px;
  background-size: 100% 100%!important;
}
.fbsn-section5{
  padding-top: 30px;
}
.fbsn-section6{
  padding-top: 30px;
  min-height: 800px;
}

.fbsn-sec6-cntlr{
  text-align: center;
}

.fbsn-sec6-sub-title{
  margin-bottom: 15px;
}
.fbsn-sec6-title{
  margin-bottom: 55px;
  padding: 5px 20px;
  background: #10b3f0;
  text-shadow: 2px 2px 3px #1488b4;
  display: inline-block;
  text-align: center;
}
.fbsn-sec6-img{
  justify-content: center;
}
.fbsn-section7{
  padding-top: 30px;
}
.fbsn-sec7-desc p{
  color: #fff;
}
.fbsn-section8{
  padding-top: 30px;
}
.fbsn-sec8-title{
  margin-bottom: 
}
.fbsn-sec8-img{
  margin-left: -30px;
}
.fbsn-section9{
  padding-top: 30px;
  background-position: bottom right!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  position: relative;
}
.fbsn-sec9-cntlr{
  position: relative;
}
.fbsn-sec9-img{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60%;
  z-index: 1;
  display: none;
}
.fbsn-sec9-desc{
  float: left;
  width: 53%;
  z-index: 2;
}


.fbss-sec-1{
  padding-top: 30px;
}
.fbss-sec-1-enty-hdr,
.fbss-sec-2-enty-hdr,
.fbss-sec-5-enty-hdr{
  text-align: center;
}
.fbss-sec-1-enty-hdr h2,
.fbss-sec-2-enty-hdr h2{
  margin-bottom: 45px;
}
.fbss-sec-2-enty-hdr h2 br{
  display: none!important;
}
.fbss-sec-1-enty-hdr h2 span,
.fbss-sec-2-enty-hdr h2 span{
  color: #10b3f0;
}


.fbss-sec-1-grds-item ul{
  margin-left: -10px!important;
  margin-right: -10px!important;
}
.fbss-sec-1-grds-item ul li{
  float: left;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
.fbss-sec-1-grds-item ul li:nth-child(2n+1){
  clear: left;
}


.fbss-sec-1-grd-item{
  padding: 18px 18px 0 18px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 9px 10px rgba(245,245,245,0.9); 
  box-shadow: 2px 2px 9px 10px rgba(245,245,245,0.9);
}
.fbss-sec-1-grd-item-img-ctlr{
  border-radius: 8px;
  padding-bottom: 18px;
}
.fbss-sec-1-grd-item-img{
  height: 280px;
  border-radius: 8px;
}
.fbss-sec-1-grd-item-img img{
  display: none;
}
.fbss-sec-1-grd-item-img.inline-bg{
  background-size: 100% 100%!important;
}

.fbss-sec-1-grd-item-des{
  padding-bottom: 1px;
  height: 280px;
}
.fbss-sec-1-grd-item-des h6{
  font-family: 'SupriaSans-Bold';
  background: #fff229;
  display: inline-block;
  vertical-align: baseline;
  padding: 4px 20px 4px 22px;
  margin-left: -20px;
  margin-bottom: 15px;
}
.fbss-sec-1-grd-item-des p{
  margin-bottom: 17px;
}
.fbss-sec-1-grd-item-des p br{
  display: none!important;
}


.fbss-sec-2{
  padding-top: 45px;
}
.fbss-sec-2-enty-hdr h2{
  margin-bottom: 25px;
}

.fbss-sec-2-text-module{
  padding-right: 2px;
}



.fbss-sec-3{
  background: #ebfaff;
  position: relative;
}

.fbss-sec-3-img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 620px;
    width: 700px;
}
.fbss-sec-3-img img{
  display: none;
}

.fbss-sec-3-text-module{
  padding-top: 38px;
}
.fbss-sec-3 .col-md-6{
  position: static;
}


.fbss-sec-4{
  padding-top: 30px;
}



.fbss-sec-5{
  padding-bottom: 45px;
}
.fbss-sec-5-ctlr{
  padding: 80px 60px 110px 75px;
}
.fbss-sec-5-enty-hdr h2{
  margin-bottom: 30px;
  font-size: 46px;
}
.fbss-sec-5-img{
  text-align: center;
  padding-bottom: 10px;
}

.fbss-sec-5-text-module{
  padding-right: 15px;
}
.fbss-sec-5-ctlr{
  background-repeat: no-repeat!important;
  background-position: center center!important;
  background-size: 100% 100%!important;
}
.fl-hdr{
  display: none;
}

@media(max-width: 1200px){
  .fl-page-bdy-controller{
    width: auto;
    margin: 0 15px;
  }
  
}


@media(max-width: 1230px){
    .header-innr{
        margin-left: -15px;
        margin-right: -15px;
    }
}


@media(max-width: 1199px){
  body{
    font-size: 21px;
  }
    .hide-md{
      display: none!important;
    }
    .show-md{
      display: block!important;
    }
    .pb-md-20{
      padding-bottom: 20px;
    }
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 44px;
    }
    h3 {
      font-size: 37px;
    }
    h4 {
      font-size: 34px;
    }
    h5 {
      font-size: 28px;
    }
    h6 {
      font-size: 20px;
    }
    .header-innr{
        margin-left: 0;
        margin-right: 0;
    }
    .bnr-des{
        max-width: 650px;
    }
    .bnr-des h1{
        font-size: 38px;
    }
    .bnr-des h3{
        font-size: 32px;
    }
    .bnr-des h2{
        font-size: 33px;
    }
    .bnr-des {
        max-width: 580px;
    }
    .bnr-img{
        background-position: right 0;
    }
    .fbsn-section1-cntlr strong{
      font-size: 27px;
    }
    .fbsn-section1-title{
      font-size: 46px;
    }
    .fbsn-sec1-sub-sec-img1-cntlr{
      margin-right: 0;
    }
    .fbsn-sec1-sub-sec-img2-cntlr{
      margin-left: 0;
    }
    .fbsn-sec4-img-cntlr .fbsn-sec4-img{
      min-height: 520px;
    }

  .fbss-sec-1-grd-item-des p br{
    display: none;
  }
  .fbss-sec-3-img{
    min-height: 540px;
    width: 600px;
  }
  .fbss-sec-1-grd-item-des{
    height: 190px;
  }
  .fbss-sec-2-enty-hdr h2 br{
    display: none;
  }
  .fbss-sec-5-text-module {
      padding-right: 0;
  }
  .fbss-sec-1-grd-item-img{
    height: 245px;
  }
  .fbss-sec-5-enty-hdr h2 {
      font-size: 42px;
  }
  .fbss-sec-5-ctlr {
      padding: 80px 85px 110px 95px;
  }
  .fbss-sec-5-enty-hdr h2 br{
    display: none;
  }
  .fbss-sec-5-enty-hdr{
    padding-left: 20px;
    padding-right: 20px;
  }
}


@media(max-width: 1100px){
    .fl-pkg-grd-controller > ul > li.order3 .fl-pkg-grd-col-fea-img div img,
    .fl-pkg-grd-controller > ul > li.order2 .fl-pkg-grd-col-fea-img div img{
        max-height: 300px;
    }
    .fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-btm-bdr {
      margin-top: -35px;
    }
    .fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-fea-img div img {
        min-height: 323px;
        width: auto;
    }
}

@media(max-width: 1023px){
  p br,
  br{
    display: none!important;
  }
  .pb-md-20{
    padding-bottom: 0;
  }
  .image-center-sm{
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;

  }
  .row {
      flex-wrap: wrap;
  }
  .pull-right{
    float: initial!important;
    order: 1;
  }
  .pull-left{
    float: initial!important;
    order: 1;
  }
  .hide-sm{
    display: none!important;
  }
  .show-sm{
    display: block!important;
  }
  .col-lg-1, 
  .col-lg-10, 
  .col-lg-11, 
  .col-lg-12, 
  .col-lg-2, 
  .col-lg-3, 
  .col-lg-4, 
  .col-lg-5, 
  .col-lg-6, 
  .col-lg-7, 
  .col-lg-8, 
  .col-lg-9, 
  .col-md-1, 
  .col-md-10, 
  .col-md-11, 
  .col-md-12, 
  .col-md-2, 
  .col-md-3, 
  .col-md-4, 
  .col-md-5, 
  .col-md-6, 
  .col-md-7, 
  .col-md-8, 
  .col-md-9, 
  .col-sm-1, 
  .col-sm-10, 
  .col-sm-11, 
  .col-sm-12, 
  .col-sm-2, 
  .col-sm-3, 
  .col-sm-4, 
  .col-sm-5, 
  .col-sm-6, 
  .col-sm-7, 
  .col-sm-8, 
  .col-sm-9, 
  .col-xs-1, 
  .col-xs-10, 
  .col-xs-11, 
  .col-xs-12, 
  .col-xs-2, 
  .col-xs-3, 
  .col-xs-4, 
  .col-xs-5, 
  .col-xs-6, 
  .col-xs-7, 
  .col-xs-8, 
  .col-xs-9{
    float: left!important;
    width: 100%!important;
  }

  .fl-pkg-grd-controller > ul > li.order3 .fl-pkg-grd-col-fea-img div img,
  .fl-pkg-grd-controller > ul > li.order2 .fl-pkg-grd-col-fea-img div img{
    max-height: 280px;
  }
  .fl-pkg-grd-controller > ul > li.show-sm {
    display: none!important;
  }
  .fl-pkg-grd-controller > ul > li.hide-sm {
    display: block!important;
  }
  .fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-fea-img div img {
    min-height: 310px;
    width: auto;
  }
  .fbsn-section1 .container .row .col-md-6{
    width: 50%!important;
    float: left!important;
  }
  .ppr-15{
    padding: 0;
  }
  .ppr-5{
    padding: 0;
  }
  .fbsn-sss-item{
    padding: 25px 25px 0 25px;
  }
  .fbsn-section9{
    background: #ebfaff!important;
  }
  .fbsn-sec9-img{
    position: static;
  }
  .fbsn-sec9-img,
  .fbsn-sec9-desc{
    width: 100%!important;
    float: initial!important;
  }
  .fbsn-sec4-img-cntlr{
    position: static;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
  }
  .fbsn-sec9-img{
    display: block;
  }

  .fbss-sec-3-img{
    position: static;
    background-image: none!important;
    min-height: initial;
    width: initial;
  }
  .fbss-sec-3-img img{
    display: block;
  }
  .fbss-sec-3-text-module {
      padding-top: 0;
  }

}
@media(max-width: 991px){

    h1 {
      font-size: 45px;
    }
    h2 {
      font-size: 40px;
    }
    h3 {
      font-size: 35px;
    }
    h4 {
      font-size: 32px;
    }
    h5 {
      font-size: 26px;
    }
    h6 {
      font-size: 20px;
    }
    .fl-pkg-grd-controller > ul > li {
        width: 100%;
        margin-bottom: 20px;
        padding-left: 0;
        padding-right: 0;
    }
    .fl-pkg-grd-controller > ul > li.show-sm {
        display: block!important;
      }
    .fl-pkg-grd-controller > ul > li.hide-sm {
        display: none!important;
      }
    .fl-pkg-grd-col-btm-bdr {
        max-width: 370px;
        margin: 0 auto;
    }
    .fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-btm-bdr {
        margin-top: 0;
    }
    .fl-pkg-sec-hdr h2{
        margin-bottom: 35px;
    }
    .fl-pkg-sec-bg-hdr{
        margin-bottom: 45px;
    }
    .out-stock-sec-hdr h2{
        font-size: 35px;
    }
    .fl-ftr-top-sec .dft-text-module {
        padding-right: 0;
    }
    .fl-pkg-sec-hdr {
        padding-bottom: 40px;
    }
    .fl-pkg-sec-hdr h2 {
        margin-bottom: 20px;
    }
    .fl-pkg-sec-bg-hdr h2{
        font-size: 40px;
    }
    .fl-pkg-section {
        padding-top: 0;
    }
    .pkg-area-cntlr {
        padding-top: 20px!important;
    }
    .fl-pkg-grd-controller > ul > li .fl-pkg-grd-col-fea-img div img{
        height: auto!important;
        min-height: auto!important;
        max-height: auto!important;
    }
    .fl-pkg-grd-controller > ul {
      margin-left: 0;
      margin-right: 0;
  }
    .bnr-sec-cntlr{
        position: relative;
    }
    .bnr-overlay{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(255,255,255,.4);
        z-index: 2;
    }
    .bnr-des{
        position: relative;
        z-index: 2;
    }
    .bnr-sec-cntlr{
        box-shadow: none;
        overflow: hidden;
    }
    header.fl-hdr {
        background: #fff;
        -ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
        -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
        position: relative;
        z-index: 5;
    }    
  .fbsn-section1 .container .row .col-md-6{
    width: 100%!important;
    float: initial!important;
  }
  .fbsn-sec1-sub-sec-img-cntlr{
    max-width: 635px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .fbsn-sec1-sub-sec-img-cntlr > img{
    display: block!important;
  }
  .fbsn-sec1-sub-sec-img{
    display: none!important;
  }
  .fbsn-section1-cntlr strong{
    font-size: 22px;
    display: inline-block;
    line-height: 1.2;
  }
  .fbsn-sss-item {
    padding: 25px 15px 0 15px;
  }
  .fbsn-sec6-title{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
  }
  .fbsn-sss-item-icon {
    position: absolute;
    top: -27px;
    right: -24px;
    height: 73px;
    width: 75px;
  }
  .fbsn-sec1-sub-sec-img-cntlr{
      margin-bottom: 35px;
    } 
    .fbss-sec-1-grd-item-des {
      height: auto;
  }
  
  .fbss-sec-5-enty-hdr h2 {
      font-size: 39px;
  }
  .fbss-sec-5-ctlr{
    background-image: none!important;
    padding: 40px 20px 20px 20px;
    border: 6px solid #b88848;
    border-radius: 5px;
    background-color: #fffbf5;
  }
  .fbss-sec-1-grds-item ul {
      margin-left: 0!important;
      margin-right: 0!important;
  }
  .fbss-sec-1-grds-item ul li{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .fbss-sec-1-grd-item{
    max-width: 450px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .fbss-sec-1-grd-item-img{
    background-image: none!important;
    height: initial;
  }
  .fbss-sec-1-grd-item-img img{
    display: block;
    border-radius: 8px;
  }
  .fbss-sec-2 {
      padding-top: 30px;
  }
  .fbss-sec-5-enty-hdr{
    padding-left: 0;
    padding-right: 0;
  }
  .fbsn-section1-title {
    font-size: 40px;
  }
}


@media(max-width: 767px){
    .hide-xs{
        display: none!important;
    }
    .show-xs{
        display: block!important;
    }
    p{
       margin-bottom: 20px;
    }
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 35px;
    }
    h3 {
      font-size: 32px;
    }
    h4 {
      font-size: 28px;
    }
    h5 {
      font-size: 24px;
    }
    h6 {
      font-size: 20px;
    }
   .fl-pkg-sec-bg-hdr h2 br{
        display: none;
    }
    .fl-pkg-sec-hdr h2{
        font-size: 40px;
    }
    .fl-pkg-sec-bg-hdr h2 {
        font-size: 35px;
    }
    .pkg-area-con-bg{
        padding-bottom: 30px;
    }
    .hdr-rgt{
        font-size: 16px;
    }
    .hdr-tel a{
        margin-right: 15px;
    }
    .hdr-time i img, .hdr-tel a i img{
        max-width: 20px;
    }
    .hdr-logo {
        max-width: 120px;
    }
    .bnr-des {
        max-width: 100%;
    }
    .bnr-des h1 {
        font-size: 33px;
    }
    .bnr-des h3 {
        font-size: 28px;
    }
    .bnr-des h2 {
        font-size: 28px;
    }    
  .fbsn-sec6-title{
    padding-left: 15px;
    padding-top: 7px;
    padding-right: 15px;
  }
  .fbsn-sec1-sub-sec-img-cntlr{
      margin-bottom: 30px;
    }
  .fbss-sec-5-enty-hdr{
    padding-left: 0;
    padding-right: 0;
  }
  .fbss-sec-5-enty-hdr h2 {
      font-size: 36px;
  }
  .fbsn-section1-title {
    font-size: 37px;
  }
}
@media(max-width: 575px){
    h1 {
      font-size: 38px;
    }
    h2 {
      font-size: 34px;
    }
    h3 {
      font-size: 30px;
    }
    h4 {
      font-size: 27px;
    }
    h5 {
      font-size: 23px;
    }
    h6 {
      font-size: 20px;
    }

    .fl-creditcards{
        padding-left: 0;
    }
    .fl-pkg-sec-bg-hdr h2 br{
        display: none;
    }
    .fl-pkg-sec-hdr h2 {
        font-size: 32px;
        margin-bottom: 15px;
    }
    .fl-pkg-sec-bg-hdr h2 {
        font-size: 29px;
    }
    .fl-pkg-sec-bg-hdr {
        margin-bottom: 35px;
    }
    .fl-pkg-grd-col-hdr strong{
        font-size: 34px;
    }
    .fl-pkg-grd-col-hdr span{
      font-size: 27px;
    }
    .fl-ftr-nav ul li{
        padding-left: 8px;
        padding-right: 8px;
    }
    .header-innr{
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;
        text-align: center;
    }
    .hdr-logo {
        max-width: initial;
        padding-bottom: 20px;
    }
    .hdr-rgt{
        justify-content: center;
        flex-wrap: wrap;
    }
    .hdr-tel a{
        margin-right: 0;
    }
    .hdr-rgt > div{
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
    }
    .bnr-des h1 br {
        display: none!important;
    }
    .bnr-des h1 {
        font-size: 30px;
    }
    .bnr-des h3 {
        font-size: 23px;
    }
    .bnr-des h2 {
        font-size: 26px;
    }
  .fbsn-sss-item-icon {
    position: absolute;
    top: -21px;
    right: -19px;
    height: 60px;
    width: 60px;
  }
  .fbsn-section6{
    min-height: initial;
    padding-bottom: 70px;
  }

  .fbss-sec-5-enty-hdr h2 {
      font-size: 32px;
  }
  .fl-page-bdy-controller{
    width: auto;
    margin: 0;
  }
  .bnr-sec-cntlr{
    margin-top: 0;
  }
  .bnr-sky-bg{
    display: none;
  }
  .fl-page-bdy-controller {
      border-radius: 0;
  }
  .bnr-img {
      background: none;
      position: relative;
      z-index: 99;
      max-width: 350px;
      margin: 0 auto;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 25px;
      box-shadow: 2px 4px 10px 0px rgba(145, 145, 145, 0.45);
}
  .bnr-img img{
    display: block;
  }
.bnr-des {
    padding: 45px 0 35px;
  }
.fbsn-section1 {
    padding-top: 30px;
}
.fbsn-section1-title{
  margin-bottom: 30px;
}
span.fl-txt-line-bg{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;  
}

  .fbsn-section1-title {
    font-size: 32px;
  }

}


@media(max-width: 479px){
    .fl-pkg-sec-bg-hdr h2{
        font-size: 26px;
    } 
    .order3 .fl-pkg-grd-col-fea-img span,
    .order3 .fl-pkg-grd-col-fea-img span,
    .order1 .fl-pkg-grd-col-fea-img span {
        right: 12px;
    }
    .fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-price strong {
        font-size: 80px;
    }
    .fbsn-sss-item {
      padding: 52px 15px 0 15px;
    }
}


@media(max-width: 359px){

}
