.fbss-sec-1{
	padding-top: 30px;
}
.fbss-sec-1-enty-hdr,
.fbss-sec-2-enty-hdr,
.fbss-sec-5-enty-hdr{
	text-align: center;
}
.fbss-sec-1-enty-hdr h2,
.fbss-sec-2-enty-hdr h2{
	margin-bottom: 45px;
}
.fbss-sec-1-enty-hdr h2 span,
.fbss-sec-2-enty-hdr h2 span{
	color: #10b3f0;
}


.fbss-sec-1-grds-item ul{
	margin-left: -10px;
	margin-right: -10px;
}
.fbss-sec-1-grds-item ul li{
	float: left;
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}
.fbss-sec-1-grds-item ul li:nth-child(2n+1){
	clear: left;
}


.fbss-sec-1-grd-item{
	padding: 20px 20px 0 20px;
	border-radius: 8px;
	-webkit-box-shadow: 1px 1px 20px 5px rgba(245,245,245,0.75); 
box-shadow: 1px 1px 20px 5px rgba(245,245,245,0.75);
}
.fbss-sec-1-grd-item-img-ctlr{
	border-radius: 8px;
	padding-bottom: 20px;
}
.fbss-sec-1-grd-item-img{
	min-height: 280px;
	border-radius: 8px;
}
.fbss-sec-1-grd-item-img img{
	display: none;
}

.fbss-sec-1-grd-item-des{
	padding-bottom: 1px;
	min-height: 255px;
}
.fbss-sec-1-grd-item-des h6{
	font-family: 'SupriaSans-Bold';
	background: #fff229;
	display: inline-block;
	vertical-align: baseline;
	padding: 4px 20px 4px 22px;
	margin-left: -20px;
	margin-bottom: 15px;
}
.fbss-sec-1-grd-item-des p{
	margin-bottom: 17px;
}



.fbss-sec-2{
	padding-top: 45px;
}
.fbss-sec-2-enty-hdr h2{
	margin-bottom: 25px;
}



.fbss-sec-3{
	background: #ebfaff;
}

.fbss-sec-3-img{
	min-height: 740px;
}

.fbss-sec-3-text-module{
	padding-top: 38px;
}


.fbss-sec-4{
	padding-top: 30px;
	padding-bottom: 20px;
}




.fbss-sec-5-ctlr{
	padding: 80px 60px 130px 75px;
}
.fbss-sec-5-enty-hdr h2{
	margin-bottom: 30px;
}
.fbss-sec-5-img{
	text-align: center;
	padding-bottom: 10px;
}