.ppr-15{
  padding: 0 15px 0 0;
}
.ppr-5{
  padding: 0 5px 0 0;
}
.fbsn-section1{
	padding-top: 44px;
}
.fbsn-section1-cntlr{

}
.fbsn-section1-cntlr strong{
	font-family: 'PTSerif-BoldItalic';
	font-size: 30px;
}
.fbsn-section1-title{
	font-family: 'PTSerif-BoldItalic';
}

.fbsn-sec1-sub-sec-img-cntlr{
	padding: 8px;
	border-radius: 5px;
	-webkit-box-shadow: 2px 4px 10px 0px rgba(145, 145, 145, 0.45);
	-moz-box-shadow:    2px 4px 10px 0px rgba(145, 145, 145, 0.45);
	box-shadow:         2px 4px 10px 0px rgba(145, 145, 145, 0.45);
	margin-bottom: 45px;
}
.fbsn-sec1-sub-sec-img-cntlr > img{
	display: none;
}
.fbsn-sec1-sub-sec-img1-cntlr{
	margin-right: 8px;
}
.fbsn-sec1-sub-sec-img2-cntlr{
	margin-left: 8px;
}
.fbsn-sec1-sub-sec-img{
	min-height: 300px;
}

.fbsn-sec-sub-sec3-title{
	font-family: 'PTSerif-BoldItalic';
}

.fbsn-sec-sub-sec-2{

}
.fbsn-sec-sub-sec-2 ul li{
	margin-bottom: 33px;
}
.fbsn-sss-item{
	padding: 25px 35px 0 25px;
	background: #f2f6f7;
	border-top-left-radius: 35px;
	border-bottom-right-radius: 35px;
	position: relative;
	overflow: hidden;
	-webkit-box-shadow:  4px 6px 7px 0px rgba(191, 191, 191, 0.35);
	-moz-box-shadow:    4px 6px 7px 0px rgba(191, 191, 191, 0.35);
	box-shadow:         4px 6px 7px 0px rgba(191, 191, 191, 0.35);
}
.fbsn-sss-item > p:last-child,
.fbsn-sss-item p strong:last-child{
	margin-bottom: 0;
}
.fbsn-sss-item-icon{
	position: absolute;
	top: -30px;
	right: -30px;
	z-index: 4;
	height: 81px;
	width: 81px;
}

.fbsn-section4{
	background: #ebfaff;
	padding-top: 30px;
	position: relative;
	overflow: hidden;
}
.fbsn-sec4-img-cntlr{
	width: 50%;
	position: absolute;
	bottom: 0;
	left: -30px;
}
.fbsn-sec4-img{
	min-height: 572px;
}
.fbsn-section5{
	padding-top: 30px;
}
.fbsn-section6{
	padding-top: 30px;
	min-height: 800px;
}

.fbsn-sec6-cntlr{
	text-align: center;
}

.fbsn-sec6-sub-title{
	margin-bottom: 15px;
}
.fbsn-sec6-title{
	margin-bottom: 55px;
	padding: 5px 20px;
	background: #10b3f0;
	text-shadow: 2px 2px 3px #1488b4;
	display: inline-block;
	text-align: center;
}

.fbsn-section7{
	padding-top: 30px;
}
.fbsn-sec7-desc p{
	color: #fff;
}
.fbsn-section8{
	padding-top: 30px;
}
.fbsn-sec8-title{
	margin-bottom: 
}
.fbsn-sec8-img{
	margin-left: -30px;
}
.fbsn-section9{
/*	background: #ebfaff;*/
	padding-top: 30px;
	background-position: bottom right!important;
	background-repeat: no-repeat!important;
	background-size: cover!important;
	position: relative;
}
.fbsn-sec9-cntlr{
	position: relative;
}
.fbsn-sec9-img{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 60%;
	z-index: 1;
	display: none;
}
.fbsn-sec9-desc{
	float: left;
	width: 50%;
	z-index: 2;
}


/*responsive*/
@media(max-width: 1199px){
	.fbsn-section1-cntlr strong{
		font-size: 24px;
	}
	.fbsn-sec1-sub-sec-img1-cntlr{
		margin-right: 0;
	}
	.fbsn-sec1-sub-sec-img2-cntlr{
		margin-left: 0;
	}
}
@media(max-width: 1023px){
	.fbsn-section1 .container .row .col-md-6{
		width: 50%!important;
		float: left!important;
	}
	.ppr-15{
		padding: 0;
	}
	.ppr-5{
		padding: 0;
	}
	.fbsn-sss-item{
		padding: 25px 25px 0 25px;
	}
	.fbsn-section9{
		background: #ebfaff!important;
	}
	.fbsn-sec9-img{
		position: static;
	}
	.fbsn-sec9-img,
	.fbsn-sec9-desc{
		width: 100%!important;
		float: initial!important;
	}
	.fbsn-sec4-img-cntlr{
		position: static;
		text-align: center;
		display: flex;
		justify-content: center;
		padding-top: 20px;
		width: 100%;
	}
	.fbsn-sec9-img{
		display: block;
	}
}
@media(max-width: 991px){
	.fbsn-section1 .container .row .col-md-6{
		width: 100%!important;
		float: initial!important;
	}
	.fbsn-sec1-sub-sec-img-cntlr{
		max-width: 635px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.fbsn-sec1-sub-sec-img-cntlr > img{
		display: block!important;
	}
	.fbsn-sec1-sub-sec-img{
		display: none!important;
	}
	.fbsn-section1-cntlr strong{
		font-size: 20px;
		margin-bottom: 15px;
		display: inline-block;
	}
	.fbsn-sss-item {
		padding: 25px 15px 0 15px;
	}
	.fbsn-sec6-title{
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 5px;
	}
}
@media(max-width: 767px){
	.fbsn-sec6-title{
		padding-left: 15px;
		padding-top: 0;
		padding-bottom: 5px;
		padding-right: 15px;
	}
}
@media(max-width: 575px){
	.fbsn-sss-item-icon {
		position: absolute;
		top: -16px;
		right: -18px;
		height: 60px;
		width: 60px;
	}
}
@media(max-width: 479px){
	.fbsn-sss-item {
		padding: 52px 15px 0 15px;
	}
}