.header-innr{
	height: 90px;
	display: flex;
	align-items: center;
}

.hdr-rgt{
	display: flex;
	align-items: center;
	margin-left: auto;
	font-size: 24px;
}
.hdr-tel a{
	color: #4e4e4e;
	display: flex;
	align-items: center;
	margin-right: 25px;
}
.hdr-time{
	display: flex;
	align-items: center;
}
.hdr-time i,
.hdr-tel a i{
	margin-right: 13px;
}
.hdr-rgt{
	font-family: 'Graphik-Medium';
	font-size: 24px;
	line-height: 1;
}

.bnr-sky-bg{
	height: 350px;
	background: #10b3f0;
}

.bnr-sec-cntlr{
	margin-top: -295px;
	background: #f2fafd;
	border-radius: 10px 10px 0 0;
	position: relative;
}
.bnr-des{
	padding: 75px 0 90px;
	max-width: 835px;
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 2;
}
.bnr-des h1{
	font-family: 'SupriaSans-Heavy';
}
.bnr-des h3{
	font-family: 'SupriaSans-Heavy';
	color: #008abe;
}

.bnr-des h2{
	 font-family: 'SupriaSans-BoldItalic';
}

.bnr-img{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right bottom;
	border-radius: 10px 10px 0 0;
}
.bnr-img img{
	display: none;
}
.fl-footer-wrap{
	background: #0a3f53;
	color: #ffffff;
	text-align: center;
	padding: 220px 0 30px;
}

.fl-footer-inner{
	max-width: 970px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.fl-ftr-nav ul {
    padding-bottom: 25px;
}
.fl-ftr-nav ul li {
    padding: 0 9px;
    position: relative;
    font-size: 20px;
    line-height: 22px;
}
.fl-ftr-nav ul li:first-child {
    padding-left: 0;
}
.fl-ftr-nav ul li,
.fl-ftr-nav ul li a {
    display: inline-block;
    vertical-align: baseline;
}
.fl-ftr-nav ul li a:hover{
  opacity: .8;
}
.fl-ftr-nav ul li:not(:last-child):after {
    content: "";
    width: 1px;
    height: 18px;
    position: absolute;
    left: 100%;
    margin-left: 2px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.fl-ftr-nav ul li a {
    color: #fff;
    font-family: 'Montserrat-Medium';
}
.fl-copyright p{
	font-size: 14px;
	margin-bottom: 32px;
}
.fl-ftr-des p{
	font-size: 14px;
}


@media(max-width: 1599px){
  .hdr-rgt{
    font-size: 22px;
  }
}


