@font-face {
  font-family: 'Barlow-Bold';
  src: url('assets/fonts/Barlow-Bold/Barlow-Bold.woff2') format('woff2'),
    url('assets/fonts/Barlow-Bold/Barlow-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'BarlowCondensed-Bold';
  src: url('assets/fonts/BarlowCondensed-Bold/BarlowCondensed-Bold.woff2') format('woff2'),
    url('assets/fonts/BarlowCondensed-Bold/BarlowCondensed-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'BarlowCondensed-Regular';
  src: url('assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff2') format('woff2'),
    url('assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
    font-family: 'PTSerif-Bold';
    src: url('assets/fonts/PTSerif-Bold/PTSerif-Bold.woff2') format('woff2'),
        url('assets/fonts/PTSerif-Bold/PTSerif-Bold.woff') format('woff'),
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PTSerif-BoldItalic';
    src: url('assets/fonts/PTSerif-BoldItalic/PTSerif-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/PTSerif-BoldItalic/PTSerif-BoldItalic.woff') format('woff'),
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSans-Bold';
    src: url('assets/fonts/SupriaSans-Bold/SupriaSans-Bold.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-Bold/SupriaSans-Bold.woff') format('woff'),
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSans-BoldItalic';
    src: url('assets/fonts/SupriaSans-BoldItalic/SupriaSans-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-BoldItalic/SupriaSans-BoldItalic.woff') format('woff'),
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSans-Heavy';
    src: url('assets/fonts/SupriaSans-Heavy/SupriaSans-Heavy.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-Heavy/SupriaSans-Heavy.woff') format('woff'),
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSans-Light';
    src: url('assets/fonts/SupriaSans-Light/SupriaSans-Light.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-Light/SupriaSans-Light.woff') format('woff'),
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSans-Regular';
    src: url('assets/fonts/SupriaSans-Regular/SupriaSans-Regular.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-Regular/SupriaSans-Regular.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SupriaSans-RegularItalic';
    src: url('assets/fonts/SupriaSans-RegularItalic/SupriaSans-RegularItalic.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-RegularItalic/SupriaSans-RegularItalic.woff') format('woff'),
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff2') format('woff2'),
        url('assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Graphik-Medium';
    src: url('assets/fonts/Graphik-Medium/Graphik-Medium.woff2') format('woff2'),
        url('assets/fonts/Graphik-Medium/Graphik-Medium.woff') format('woff'),
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }